<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>人体からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/index.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <!-- <div class="header__logo"><img src="assets/images/logo.svg" alt="チームロゴ"></div> -->
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/top-image.png" alt="封鎖された家庭科室からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight text-rampart"><span class="section-title__stage text-rampart">STAGE：1</span>さぁゲームを始めよう！</h2>
            <p class="text-center">目を覚ますと誰もいないグラウンドに立っていた。<br>
              周りを見渡すとさっきまで一緒にいたはずの友達がいない。<br>
              それどころか昼間のはずの学校がまるで人なんか最初からいなかったみたいに静か。<br>
              警告の言葉と共に朝礼台が光り、謎の人物が現れた。<br><br>
              謎の人物は主人公に自己紹介と主人公に起こっている異変（異世界に閉じ込められたこと、出るには体の不調を直さないといけないこと）を知らせる。<br>
              そのことを知りキリトは驚愕する。<br>
              謎の人物、体の不調を治す方法（魔法で主人公の体に入って解決すること）とこの世界から出られる時間制限を知らせる。<br>
              主人公は、朝礼台に横になり、<br>
              謎の人物の魔法で小さくなって口から体内へ入ることとなった。<br><br>
              
              口に入ると食堂には食べ物を運ぶレールがあった<br>
              レールを沿って食道から胃まで移動する<br>
              胃には食べ物を消化する工場があった。<br>
              （ここで謎の人物による胃の機能説明）<br>
              先ほどよく噛まずに食べた食べ物が大きすぎて消化できず、工場がよく機能しなくなっていた…<br>
              目の前には石に刺さった剣があった。しかし、剣は呪文を言わないと抜けない仕組みだった。<br>
              謎を解いて呪文を言い、剣を獲得、食べ物を小さく切り刻んで工場が正常に稼働したことを確認して<br>
              消化された食べ物が小腸まで運ばれるトロッコと一緒に小腸まで移動しよう！<br>
            <p class="text-center">ひらがなで解答しよう！困ったときは、ヒントがある。なるべく見ないようにゲームを進めていこう。</p>
            <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
              <figure class="image__container">
                <img src="assets/images/stage-1.png" alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title text-rampart"><span class="section-title__stage">STAGE：1</span>キーワードを入力</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

            <a class="link-hint text-rampart" href="hint1.html" target="hint1">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title text-rampart">STAGE：１  クリア！</div>
              <div class="clear-message__content">無事トロッコに乗ることができた！<br>
                さぁ脱出するため<br>
                暗号を見つけ出そう！</div>
              <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'" class="clear-message__btn btn text-rampart">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage1']" id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight text-rampart"><span class="section-title__stage">STAGE：2</span>黒板に書かれている謎を解け！</h2>
              <p class="text-center">小腸をトロッコに乗って移動する主人公一行。<br>
                （ここで妖精による小腸の機能説明、説明の途中か始まる前に道が２つあることを会話の中に入れて膵臓の存在を読み手に認識させる）<br>
                すると突然トロッコが脱線してしまう<br>
                原因は地面（腸内環境）がガタガタになっていることだった<br>
                治すにはある一定の比率に則り、主食:副菜:主菜:牛乳・乳製品:果実=7:5:4:2:2）で食べ物を混ぜて<br>
                ミニマシン（微生物）に食べさせて舗装材を作らなければならないがその比率がわからない<br>
                しかしマシンを起動させるにはパスワードが必要<br>
                パスワードを知るにはマシンのタッチパネルに書かれた謎を解かなければならない</p>
            </div>
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/stage-2.png" alt="">
              </figure>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title text-rampart"><span class="section-title__stage">STAGE：2</span>キーワードを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE2-1　ここから -->
                <div class="column">
                  <!-- STAGE2-1問題セクション　ここから -->
                  <!-- STAGE2-1問題セクション　ここまで -->
                  <!-- STAGE2-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
                  <a class="link-hint text-rampart" href="hint2.html" target="hint2">ヒントをみる ></a>
                  <!-- STAGE2-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE2-1　ここまで -->

<!-- STAGE2-2 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q2']" v-on:answer-input="answerInput($event, 'stage2', 2)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                　
                </div>

2-2追加ここまで -->
                  
<!-- STAGE2-3 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q3']" v-on:answer-input="answerInput($event, 'stage2', 3)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>

                </div>

2-3追加ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE2クリア画面　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title text-rampart">STAGE：2　クリア！</div>
              <div class="clear-message__content">謎を解いた主人公一行<br>
                マシンがどんどん道を治していく<br>
                トロッコをレールに乗せて小腸の道をもう一度走る主人公たち<br>
                </div>
                <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn text-rampart">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->

      <!-- STAGE3　ここから -->
      <div v-if="next['stage2']" id="sectionStage3" class="stage">

        <!-- STAGE3-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage text-rampart">STAGE：3</span>家庭科室の課題とは</h2>
            <p class="text-center">大腸を出れば体の外に出れると説明する謎の人物<br>
              大腸まで来た主人公一行<br>
              原因不明のつまりを起こして太くなった食べ物を便にしていく機械のパイプのせいで行き止まりになっていた<br>
              機械なら説明書くらいどこかにあるはずだと解決策を探す主人公たち<br>
              コンピューター的なものがエラー表示を出していることを見つける<br>
              コンピューターが示す機械に必要なものを示す欄がバグで見えなくなっている<br>
              必要なものが分かれば自分の魔法でどうにかできるかもしれないと言う謎の人物<br>
              足下を見ると謎の書かれた紙切れが一枚落ちていた<br>
              </p>
            <figure class="image__container">
              <img src="assets/images/stage-3.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE3-1問題セクション　ここまで -->

        <!-- STAGE3-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage text-rampart">STAGE：3</span>キーワードを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
            <a class="link-hint text-rampart" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE3-1解答入力セクション　ここまで -->

<!-- STAGE3-2問題セクション を追加

          <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>
            <answer-input v-bind:correct="correctAnswer['stage3']['q2']" v-on:answer-input="answerInput($event, 'stage3', 2, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
      　　
STAGE3-2追加ここまで -->

          
<!-- STAGE3-3問題セクション　を追加
        <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>

            <answer-input v-bind:correct="correctAnswer['stage3']['q3']" v-on:answer-input="answerInput($event, 'stage3', 3, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>

STAGE3-3追加　ここまで -->
 <!-- STAGE2クリア画面　ここから -->
        <section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title text-rampart">STAGE：3　クリア！</div>
              <div class="clear-message__content">謎を解く必要なものが水分だとわかる主人公たち<br>
                大腸の機能と水不足で便秘になっていたこと主人公に教える謎の人物<br>
                謎の人物の魔法で水を作り出してパイプのつまりを治す<br><br>

                しかし、外へ出ても元の世界に帰る魔法が発動しない何か見落としがあったのではないかと言う謎の人物<br>
                小腸を走っている時に２つに道が分かれていたことを思い出す主人公<br>
                残り時間はあと20分、急いでもう一度体に入り直す主人公一行<br>
                </div>
                <button v-on:click="nextStage('stage3')" onclick="location.href='#sectionStage4'" class="clear-message__btn btn text-rampart">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
          
      </div>
      <!-- STAGE3　ここまで -->

      <!-- STAGE4　ここから -->
      <div v-if="next['stage3']" id="sectionStage4" class="stage">

        <!-- STAGE4-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight text-rampart"><span class="section-title__stage">STAGE：4</span>家庭科室の課題とは</h2>
            <p class="text-center">
              小腸の分かれ道から膵臓まで来た主人公一行<br>
              膵臓の部屋がインスリンで水浸しになっている。<br>
              緊急用と書かれたパスワード式の鍵がかかった箱を発見<br>
              謎を解いていこう
              </p>
            <figure class="image__container">
              <img src="assets/images/stage-4.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE3-1問題セクション　ここまで -->

        <!-- STAGE3-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage text-rampart">STAGE：4</span>キーワードを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage4']['q1']" v-on:answer-input="answerInput($event, 'stage4', 1, 'final')"></answer-input>
            <a class="link-hint text-rampart" href="hint4.html" target="hint4">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE3-1解答入力セクション　ここまで -->

<!-- STAGE3-2問題セクション を追加

          <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>
            <answer-input v-bind:correct="correctAnswer['stage3']['q2']" v-on:answer-input="answerInput($event, 'stage3', 2, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
      　　
STAGE3-2追加ここまで -->

          
<!-- STAGE3-3問題セクション　を追加
        <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>

            <answer-input v-bind:correct="correctAnswer['stage3']['q3']" v-on:answer-input="answerInput($event, 'stage3', 3, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>

STAGE3-3追加　ここまで -->
          
      </div>
      <!-- STAGE3　ここまで -->
      <!-- <div>
        <h2 class="text-center"><span id="hour"></span>時間<span id="min"></span>分<span id="sec"></span>秒</h2>
      </div> -->
    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/countdown.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>