.text-rampart {
  font-family: "Rampart One", cursive;
}
.content-center {
  text-align: center;
  margin: auto;
}

.start {
  background: #f5f3e4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}

.start p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9998;
  width: 80%;
}

.start div {
  position: fixed;
  /* left: 65%; */
  left: -50%;
  top: 70%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 50%;
}
.start-m {
  background: #f5f3e4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}

.start-m p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9998;
  width: 20%;
}

.start-m div {
  position: fixed;
  /* left: 65%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 10%;
}

#ani {
  display: none;
}
#ani-1 {
  display: none;
}

.aniS {
  background: #cc8cbc;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}

.aniHide {
  position: fixed;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9998;
  width: 20%;
}
.aniHide-1 {
  position: fixed;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9998;
  width: 20%;
}

.rail {
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9997;
  width: 100%;
}

#ani-2 p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9997;
  width: 10%;
}
